[submodule "vim_runtime"]
	path = vim_runtime
	url = https://github.com/DPS0340/vimrc
[submodule "zsh"]
	path = zsh
	url = https://github.com/DPS0340/BlaCk-Void-Zsh
[submodule "zplugin"]
	path = zplugin
	url = https://github.com/DPS0340/zplugin
[submodule "tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
