*
!coc
!coc/*
!coc/**/*
!karabiner
!karabiner/*
!karabiner/**/*
!nvim
!nvim/*
!nvim/**/*
!thefuck
!thefuck/*
!thefuck/**/*
!k9s
!k9s/*
!k9s/**/*
!locale.conf
!environment.d
!environment.d/*
!environment.d/**/*
**/__pycache__
